@model Usuario

<h1>ALERTA!</h1>
<h2>Tem certeza que deseja Excluir o Usuário @Model.Nome (@Model.Login)?</h2>
<p>A exclusão é irreversível</p>

<form action="ExcluirUsuario" method="post">
    <input type="hidden" name="id" value="@Model.id">

    <input type="decisao" name="submit" value="CANCELAR">
    <input type="decisao" name="submit" value="EXCLUIR">
</form>